@import url('https://fonts.googleapis.com/css?family=Nunito');

body {
  margin: 0;
  font-family: 'Nunito', sans-serif;
}
$base-color: #0078CC;
.el-header {
  padding: 0px !important;
  background: $base-color;
}

.table-header {
  background: #f3f3f3;
  border-top: 1px solid #e3e3e3;
  border-left: 1px solid #e3e3e3;
  border-right: 1px solid #e3e3e3;
  padding: 5px;
  height: 30px;
}
.table-pagination {
  width: 100%;
  text-align: center;
  padding: 5px;
}

/* HELPERS */
.mb-15 {
  margin-bottom: 15px;
}